body
{
    background-image: url('../../img/panelcar.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: 0px 38px;
}
.bg-dark
{
    background-color: #999999 !important;
}
.btn-link
{
    color: white;
    font-weight: bold;
}
.btn-link:link, .btn-link:visited
{
    color: white !important;
}
.nav-item
{
    margin-right: 50px;
}
.title-service
{
    padding-top: 10px;
}
.title-service, .subTitle-service
{
    color: white;
    font-weight: bold;
}
.subTitle-service
{
    color: red;
    margin-top: 50px;
}
.panel-buy
{
    background-color: rgba(102, 102, 102, 0.8);
    max-width: 500px;
    margin-top: 50px;
    margin-bottom: 90px;
}
.panel-buy h3 
{
    padding: 30px;
    padding-bottom: 0px;
    color: white;
}
.panel-buy p 
{
    padding: 30px;
    color: white;
}
.panel-buy
{
    padding: 15px;
}
.panel-buy input
{
    background: white;
    border-radius: 0px;
    border-width: 3px;
}
.price
{
    display: block;
    margin-top: -75px;
}
.form-group
{
    font-weight: bold;
    color: white;
    margin-top: 40px;
}
#card
{
    margin-top: -10px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 20px !important;  
    background: white !important;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

#value, .input-group-prepend
{
    margin-top: 20px;
}
#btn-buy
{
    width: 200px !important;
    margin-right: 5px;
    background-color: red;
    color: white;
    border: 2px solid white;
}
#btn-buy:hover
{
    background-color: #999999 !important;
}
.footer
{

    padding: 40px;
    padding-top: 30px;

    background-color: white;
    height: 80px;
}


.show-historic
{
    color: white;
}
.cardBuy
{
    word-wrap: break-word;
}
.text-danger
{
    color: white !important;
    font-weight: bold;
}

.progress{
    height: 21px;
}